<h2>Carpooling Automóvil Club de Colombia</h2>
<% if @success %>
	<p> ¡Bienvenido(a) a la comunidad de Carpooling Automóvil Club de Colombia! </p>
	<p> Te queremos dar la bienvenida y esperamos que disfrutes de esta comunidad. </p>
	<p> Muchas gracias, </p>
	<p> Touring & Automóvil Club de Colombia </p>
<% else %>
	<%= label_tag 'message', @message %>
<% end %>