<p>Hola <%= @resource.first_name %>:</p>

<p>¡Bienvenido(a) a la comunidad de Carpooling Automóvil Club de Colombia!</p>
<p> Para activar tu cuenta haz click en el siguiente enlace:</p>

<p><%= link_to 'Activar registro', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Touring & Automóvil Club de Colombia</p>
