<p>¡Bienvenido al Automóvil Club de Colombia <%= @resource.first_name %>!</p>

<p>Para activar tu cuenta solamente haz click en la liga que aparece a continuación:</p>

<p><%= link_to 'Activar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
