<p><%= @resource.first_name %>,</p>

<p>Hemos recibido una petición para restablecer la contraseña de tu cuenta Carpooling Automóvil Club de Colombia.</p>
<p>Si hiciste esta petición, haz clic en el botón de abajo. Si no hiciste esta petición, puedes ignorar este correo.</p>

<p><%= link_to 'Restablecer tu contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>
<p> O usa este enlace para restablecer tu contraseña: <br/>
	<%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token)%>
</p>
