<p>¡Hola <%= @resource.first_name %>!</p>

<p>Has solicitado cambiar tu contraseña. Haz click en la liga que aparece a continuación para cambiar tu contraseña:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste este cambio, ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que hagas click en la liga y elijas una nueva.</p>
